<a href="https://colab.research.google.com/github/aizardar/tensorflow-tutorials/blob/master/Exercises/Loading_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **This tutorial provides an example of how to load pandas dataframes into a tf.data.Dataset.**

This tutorials uses a small dataset provided by the Cleveland Clinic Foundation for Heart Disease. There are several hundred rows in the CSV. Each row describes a patient, and each column describes an attribute. We will use this information to predict whether a patient has heart disease, which in this dataset is a binary classification task.

Read data using pandas

In [70]:

from __future__ import absolute_import, division, print_function, unicode_literals

try:
  %tensorflow_version 2.x
except Exception:
  pass


import pandas as pd
import tensorflow as tf
print(tf.__version__)

2.0.0

In [0]:
# Let's download the csv file containing the heart dataset

csv_file = tf.keras.utils.get_file('heart.csv', 'https://storage.googleapis.com/applied-dl/heart.csv')

In [0]:
# Now, read the csv file using pandas

df= pd.read_csv(csv_file)

In [73]:
df.head()

   age  sex  cp  trestbps  chol  ...  oldpeak  slope  ca        thal  target
0   63    1   1       145   233  ...      2.3      3   0       fixed       0
1   67    1   4       160   286  ...      1.5      2   3      normal       1
2   67    1   4       120   229  ...      2.6      2   2  reversible       0
3   37    1   3       130   250  ...      3.5      3   0      normal       0
4   41    0   2       130   204  ...      1.4      1   0      normal       0

[5 rows x 14 columns]

In [74]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal         object
target        int64
dtype: object

In [0]:
df['thal'] = pd.Categorical(df['thal'])
df['thal'] = df.thal.cat.codes

In [76]:
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   1       145   233    1  ...      0      2.3      3   0     2       0
1   67    1   4       160   286    0  ...      1      1.5      2   3     3       1
2   67    1   4       120   229    0  ...      1      2.6      2   2     4       0
3   37    1   3       130   250    0  ...      0      3.5      3   0     3       0
4   41    0   2       130   204    0  ...      0      1.4      1   0     3       0

[5 rows x 14 columns]

Load data using tf.data.Dataset

In [0]:
target = df.pop('target')

In [0]:
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

In [79]:
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: [ 63.    1.    1.  145.  233.    1.    2.  150.    0.    2.3   3.    0.
   2. ], Target: 0
Features: [ 67.    1.    4.  160.  286.    0.    2.  108.    1.    1.5   2.    3.
   3. ], Target: 1
Features: [ 67.    1.    4.  120.  229.    0.    2.  129.    1.    2.6   2.    2.
   4. ], Target: 0
Features: [ 37.    1.    3.  130.  250.    0.    0.  187.    0.    3.5   3.    0.
   3. ], Target: 0
Features: [ 41.    0.    2.  130.  204.    0.    2.  172.    0.    1.4   1.    0.
   3. ], Target: 0

In [80]:
tf.constant(df['thal'])

<tf.Tensor: id=153, shape=(303,), dtype=int32, numpy=
array([2, 3, 4, 3, 3, 3, 3, 3, 4, 4, 2, 3, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3,
       3, 4, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 4, 2, 4, 3, 4, 3, 4, 4,
       2, 3, 3, 4, 3, 3, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 4,
       4, 2, 3, 3, 4, 3, 4, 3, 3, 4, 4, 3, 3, 4, 4, 3, 3, 3, 3, 4, 4, 4,
       3, 3, 4, 3, 4, 4, 3, 4, 3, 3, 3, 4, 3, 4, 4, 3, 3, 4, 4, 4, 4, 4,
       3, 3, 3, 3, 4, 3, 4, 3, 4, 4, 3, 3, 2, 4, 4, 2, 3, 3, 4, 4, 3, 4,
       3, 3, 4, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4,
       4, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 2,
       4, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 2, 2, 4, 3, 4, 2, 4, 3,
       3, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 2, 2, 4, 3, 4, 3, 2, 4, 3, 3, 2,
       4, 4, 4, 4, 3, 0, 3, 3, 3, 3, 1, 4, 3, 3, 3, 4, 3, 4, 3, 3, 3, 4,
       3, 3, 4, 4, 4, 4, 3, 3, 4, 3, 4, 3, 4, 4, 3, 4, 4, 3, 4, 4, 3, 3,
       3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 3, 2, 4, 4, 4, 4], dtype=int32)>

Shuffle and batch the dataset.

In [0]:
train_dataset = dataset.shuffle(len(df)).batch(1)

# **Create and train a model**

In [0]:
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
  ])

  model.compile(optimizer = 'adam', loss= 'binary_crossentropy', metrics = ['accuracy'])

  return model

In [83]:
model = get_compiled_model()
model.fit(train_dataset, epochs=20)

WARNING:tensorflow:Layer sequential_2 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

Epoch 1/20
303/303 [==============================] - 2s 8ms/step - loss: 5.5391 - accuracy: 0.5809
Epoch 2/20
303/303 [==============================] - 1s 2ms/step - loss: 0.7463 - accuracy: 0.6799
Epoch 3/20
303/303 [==============================] - 1s 2ms/step - loss: 0.6530 - accuracy: 0.6898
Epoch 4/20
303/303 [==============================] - 1s 2ms/step - loss: 0.6774 - accuracy: 0.6997
Epoch 5/20
303/303 [==============================] - 1s 2ms/step - loss: 0.6337 - accuracy: 0.7195
Epoch 6/20
303/303 [==============================] - 1s 2ms/step - loss: 0.6044 - accuracy: 0.7294
Epoch 7/20
303/303 [==============================] - 1s 2ms/step - loss: 0.6250 - accuracy: 0.7063
Epoch 8/20
303/303 [==============================] - 1s 2ms/step - loss: 0.5775 - accuracy: 0.7459
Epoch 9/20
303/303 [==============================] - 1s 2ms/step - loss: 0.5753 - accuracy: 0.7261
Epoch 10/20
303/303 [==============================] - 1s 2ms/step - loss: 0.6248 - accuracy: 0.6964
Epoch 11/20
303/303 [==============================] - 1s 2ms/step - loss: 0.6226 - accuracy: 0.6997
Epoch 12/20
303/303 [==============================] - 1s 2ms/step - loss: 0.5813 - accuracy: 0.7591
Epoch 13/20
303/303 [==============================] - 1s 2ms/step - loss: 0.5662 - accuracy: 0.7360
Epoch 14/20
303/303 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7360
Epoch 15/20
303/303 [==============================] - 1s 2ms/step - loss: 0.5851 - accuracy: 0.7525
Epoch 16/20
303/303 [==============================] - 1s 2ms/step - loss: 0.5541 - accuracy: 0.7327
Epoch 17/20
303/303 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7624
Epoch 18/20
303/303 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7558
Epoch 19/20
303/303 [==============================] - 1s 2ms/step - loss: 0.5152 - accuracy: 0.7624
Epoch 20/20
303/303 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7558